<div class="header ui stackable  two column grid" id="header">
  <div class="wrap row">
    <div class="left column">
      <div class="logo">
        <img src="/assets/images/angular.png">
      </div>
      <div class="search-input-container">

        <div class="ui left icon input search-input">
            <i class="search icon"></i>
          <input placeholder="Where to go?" type="text">
        </div>
      </div>
    </div>
    <div class="right column">
      <div class="menu-list">
        <button class="item ui black signup basic button">Sign up</button>
        <a href="#" class="item"> Log in</a>
        <a href="#" class="item">How it works</a>
        <button class="item ui teal button">List your trip</button>
      </div>
    </div>
  </div>
</div>
