#header {
  border-bottom:1px #e3e3e3 solid;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  button{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .wrap{
    padding:10px;
    height:75px;
      color: #333;
    .column {
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .left{

      .logo{
        img{
          height:45px;
        }
      }
      .search-input-container{
        margin-left:25px;
        #wheretogo ,.default.text{
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size:14px;
        }
        input.search{
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size:14px;
          top:50%;
          transform: translate(0,-50%);
        }
      }
    }
    .right{

      .menu-list{
        .signup {
          box-shadow: inset 0px 0px 1px black !important;
          &:hover{
            color:white !important;
            background: black !important;
          }
        }
        .item{
          margin-left:30px;
        }
        a{
          color: #888;
          font-size:16px;
          padding:5px;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
        }
      }
    }
  }
}
