<div class="header ui stackable  two column grid" id="header">
  <div class="wrap row">
    <div class="left column">
      <div class="logo">
        <a href="#/">
          <img src="assets/images/angular.png">
        </a>

      </div>
      <div class="search-input-container">

        <div class="ui fluid search selection dropdown">
          <input name="wheretogo" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">
            <i class="search icon"></i>Where to go?</div>
          <div class="menu">
            <div class="item" data-value="af">
              Bangkok</div>
            <div class="item" data-value="ax">
              Chonburi</div>
          </div>
        </div>

      </div>
    </div>
    <div class="right column">
      <div class="menu-list">
        <button class="item ui black signup basic button">Sign up</button>
        <a class="item" href="#">
          Log in</a>
        <a class="item" href="#">How it works</a>
        <button class="item ui button" style="background:#1eb6e7;color:white;">List your trip</button>
      </div>
    </div>
  </div>
</div>
